body{background:#444546;}
#main{width:100%;background:#fff url("../images/banner3/nav_back.png") repeat-x;overflow-x:hidden;}
.banner_box{position:relative;overflow:hidden;height:456px;width:100%;}
#content{width:960px;margin:25px auto;}

#head{width:960px;margin:0 auto;position:relative;height:64px;}
#head ul{position:absolute;right:0px;top:28px;}
#head li{float:left;}
#head a{color:#4c4c4c;margin:0 15px;}
#head a:hover{color:#2882c8;}
#head .download_text:hover{background:url("../images/download.png") no-repeat scroll 0 -19px;}
#head .download_text{float:left;display:block;line-height:18px;padding-left:21px;background:url("../images/download.png") no-repeat;}
#head .download_a{display:block;width:90px;}
.banner_content .vip_pic { vertical-align:text-bottom; line-height:24px; height:24px; margin:10px 0 0; padding:0;}
.banner_content .vip_pic img { vertical-align:text-bottom; line-height:24px; margin:0;}

#banner_wrap1{background:url("../images/bg.jpg") repeat-x 0 -64px;height:456px;width:100%;position:absolute;top:0;left:0;/* border:1px solid #000;*/ display:none;}
.banner_bg{width:960px;margin:0 auto; height:456px;position:relative;}
#banner_wrap1 .banner_bg{background:url("../images/banner/banenr01_BG.jpg") no-repeat scroll center -64px transparent;}
#banner_wrap2{background-color:#99312e;height:456px;width:100%;position:absolute;top:0;left:0;}
#banner_wrap2 .banner_bg{background:#99312e;}
#banner_wrap3{display:none;position:absolute;width:100%;top:0;height:456px;}
#bg_left{position:absolute;left:0;width:50%;background:url("../images/banner/banner03_BG_left.jpg") repeat-x  scroll 0px -64px transparent;height:100%;}
#bg_right{position:absolute;right:0;height:100%;width:50%;background:url("../images/banner/banner03_BG_right.jpg") repeat-x scroll 0px -64px transparent;}
#banner_wrap3 .banner_bg{width:1260px;background:url("../images/banner/banner03_BG.jpg") no-repeat scroll center -64px transparent;}
.content_wrap{width:100%;margin:0 auto;height:456px;position:absolute;top:0;left:0;}
.banner_content{width:960px;margin:0 auto;height:456px;position:relative;}
.banner_shadow { height:5px; background:url("../images/banner3/nav_shadow.png") repeat-x; /*opacity:0.15; filter:alpha(opacity=15);*/ width:100%; position:absolute; top:0; z-index:1001;}

/*支持css3*/
#banner_wrap1 .banner_logo{position:absolute;left:-270px;top:-350px;-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg);-moz-transition-property: left,top;-webkit-transition-property: left,top;-o-transition-property: left,top;z-index:999;}
#banner_wrap1 .banner_slogan{position:absolute;left:510px;top:100px;opacity:0;-moz-transition-property: left,opacity;-webkit-transition-property: left,opacity;-o-transition-property: left,opacity;z-index:999;}
#banner_wrap2 .shark{position:absolute;left:140px;top:-640px;z-index:995;}
#banner_wrap2 .picon{position:absolute;left:55px;top:550px;z-index:989;}
#banner_wrap2 .pback{position:absolute;left:0px;top:0px;opacity:0;-moz-transition-property:left,opacity;-webkit-transition-property:left,opacity;-o-transition-property:left,opacity;z-index:990;}
#banner_wrap2 .banner_slogan{position:absolute;left:520px;top:100px;opacity:0;-moz-transition-property:left,opacity;-webkit-transition-property:left,opacity;-o-transition-property:left,opacity;z-index:999;}

/*不支持css3*/
.fallback #banner_wrap1 .banner_logo{position:absolute;left:90px;top:40px;z-index:999;}
.fallback #banner_wrap1 .banner_slogan{position:absolute;left:410px;top:100px;z-index:999;opacity:1;}
.fallback #banner_wrap2 .shark{position:absolute;left:140px;top:-40px;z-index:995;}
.fallback #banner_wrap2 .picon{position:absolute;left:55px;top:-40px;z-index:989;}
.fallback #banner_wrap2 .pback{position:absolute;left:0px;top:0px;z-index:990;}
.fallback #banner_wrap2 .banner_slogan{position:absolute;left:410px;top:100px;z-index:999;opacity:1;}
.fallback #accelerate {position:absolute;left:150px;top:125px;z-index:900;}
.fallback #banner3_main {position:absolute;left:260px;top:75px;z-index:950;}
.fallback #info4{position:absolute;left:575px;top:110px;z-index:999;}


#info4{
	position:absolute;
	left:575px;
	top:210px;
	z-index:999;
	opacity:0;
	-moz-transition-property: opacity;
	-webkit-transition-property: opacity;
	-o-transition-property: opacity;
}


#accelerate {position:absolute;left:150px;top:450px;z-index:900;}
#banner3_main {position:absolute;left:260px;top:450px;z-index:950;}

#product_name{width:286px;float:right;color:#FFF;position:absolute;top:150px;right:10px;}
#product_download{width:286px;float:right;color:#FFF;display:none;position:absolute;top:150px;right:10px;}
.banner_content p{padding-bottom:5px;}
.banner_content span{padding:12px 0 0 20px;display:block;background:url("../images/banner_member.png") no-repeat scroll 0 bottom transparent;}
.banner_content img{margin-top:11px;margin-bottom:20px;}
.name_pic{margin-bottom:22px;}
.dl_beta a{color:#fff;text-decoration:underline;}

/*底部波浪*/
#banner_bolang_bg_1{width:997px;height:85px;background:url("../images/wave1.png") repeat-x; _background-image:url("../images/banner3/wave1_ie.png");_filter:alpha(opacity=80);position:absolute; top:371px;width:400%;left:-236px;z-index:999;}
#banner_bolang_bg_2{width:1009px;height:100px;background:url("../images/wave2.png") repeat-x; _background-image:url("../images/banner3/wave2_ie.png");_filter:alpha(opacity=80);position:absolute;top:356px;width:400%;left:0px;z-index:998;}

/*banner切换按钮*/
#switch{width:960px;margin:359px auto 0;position:relative;height:100px;z-index:1005;}
#switch span{position:absolute;bottom:32px;width:10px;overflow:hidden;height:10px;cursor:pointer;}
#switch1{left:458px;background:url("../images/switch.png") -10px 0 no-repeat;}
#switch2{left:472px;background:url("../images/switch.png") 0 0 no-repeat;}
#switch3{left:486px;background:url("../images/switch.png") 0 0 no-repeat;}

#feature{overflow:hidden;margin-bottom:80px;zoom:1}
#feature img{padding:0 0 20px 12px;}
#feature dl{width:216px;float:left;}
#feature dd{font-size:12px;line-height:21px;color:#4c4c4c;}
#feature .seperate{padding:0 15px 0 15px;float:left;}

#function{overflow:hidden; width:100%}
#function dd{font-size:12px;color:#4c4c4c;}
#function dl{margin-bottom:35px;}
#func_title{margin-bottom:40px;}
#left{width:516px;position:absolute;left:10px;}
#right{width:434px;position:absolute;right:0px;}
#func_content{overflow:hidden;margin-bottom:30px;position:relative;height:300px;}
#func_content dl{float:left;padding-left:54px;margin-bottom:50px;width:335px;}
#func_content dt{font-size:16px;font-weight:bold;color:#333;padding-bottom:10px;}
#func_content dd{font-size:12px;color:#4c4c4c;}
#func1{background:url("../images/7.png") no-repeat;}
#func2{background:url("../images/8.png") no-repeat;}
#func3{background:url("../images/3.png") no-repeat;}
#func4{background:url("../images/4.png") no-repeat;}
#func5{background:url("../images/5.png") no-repeat;}
#func6{background:url("../images/2.png") no-repeat;}

#improve{margin:20px 0 70px 0;}
#improve ul{margin:20px 0 30px 0;padding-left:10px;}

#footer{height:128px;width:100%;background-color:#444546;}
#footer img{margin:0 auto;padding:24px 0 15px 0;display:block;}
#footer p{text-align:center;margin-bottom:6px;color:#808181;}

